---
layout: archive
title: "Tools"
permalink: /post-tool/
author_profile: true

feature_row_WriteBlockeur_RaspBerry:
  - image_path: /assets/images/raspImager/welcome.png
    alt: "Tools"
    title: "Making a forensic RaspBerry Pi Imager"
    excerpt: " A software WriteBloker forensic RaspBerry Pi "
    url: "https://xbloro.github.io/tool/Raspi-DIY-Imager/"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row_AES128WindowsFolderEncryption:
  - image_path: /assets/images/GUIEncryption/welcome.png
    alt: "Tools"
    title: "Gui AES encryption Tool"
    excerpt: "Gui Aes encryption Tool for Windows"
    url: "https://xbloro.github.io/tool/GUI-encryption-Tool/"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row_FLSGUITool:
  - image_path: /assets/images/GuiFLS/flsgui_welcoming.png
    alt: "Tools"
    title: "Gui FLS Tool"
    excerpt: "Gui FLS Tool for Windows invest"
    url: "https://xbloro.github.io/tool/GUI-FLS-Tool/"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row_cuckoo:
  - image_path: /assets/images/cukoo/cuckoo.png
    alt: "cuckoo logo"
    title: "cuckoo"
    excerpt: "Quick guide to install cuckoo"
    url: "https://xbloro.github.io/tool/guide_for_cuckoo/"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row_dfirtools:
  - image_path: /assets/images/niceTools/sysinternals.jpg
    alt: "Tools"
    title: "Some nice DFIR Tools"
    excerpt: "let look at some tools that can be realy handy during a Windows invest"
    url: "https://xbloro.github.io/tool/Dfir_tools/"
    btn_label: "Read More"
    btn_class: "btn--primary"
---
{% include feature_row id="feature_row_WriteBlockeur_RaspBerry" type="center" %}
{% include feature_row id="feature_row_AES128WindowsFolderEncryption" type="center" %}
{% include feature_row id="feature_row_FLSGUITool" type="center" %}
{% include feature_row id="feature_row_cuckoo" type="center" %}
{% include feature_row id="feature_row_dfirtools" type="center" %}

{% for post in site.toolls limit: 5 %}
  {% include archive-single.html %}
{% endfor %}



