---
layout: archive
title: "Tools"
permalink: /post-tool/
author_profile: true

feature_row_FLSGUITool:
  - image_path: /assets/images/GuiFLS/flsgui_welcoming.png
    alt: "Tools"
    title: "Gui FLS Tool"
    excerpt: "Gui FLS Tool for Windows invest"
    url: "https://xbloro.github.io/tool/GUI-FLS-Tool/"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row_cuckoo:
  - image_path: /assets/images/cuckoo.png
    alt: "cuckoo logo"
    title: "cuckoo"
    excerpt: "Quick guide to install cuckoo"
    url: "https://xbloro.github.io/tool/guide_for_cuckoo/"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row_dfirtools:
  - image_path: /assets/images/sysinternals.jpg
    alt: "Tools"
    title: "Must have tools"
    excerpt: "Must have tool on a DFIR"
    url: "https://xbloro.github.io/tool/must_have_tools/"
    btn_label: "Read More"
    btn_class: "btn--primary"
---
{% include feature_row id="feature_row_FLSGUITool" type="center" %}
{% include feature_row id="feature_row_cuckoo" type="center" %}
{% include feature_row id="feature_row_dfirtools" type="center" %}

{% for post in site.toolls limit: 5 %}
  {% include archive-single.html %}
{% endfor %}



