---
layout: archive
title: "DFIR"
permalink: /post-dfir/
author_profile: true
feature_row:
  - image_path: assets/images/dfirMethodo/dfir.jpg
    alt: "WinDFIR"
    title: "Methodo de DFIR sur Windows"
    excerpt: "En cours de révision"
    url: "https://xbloro.github.io/dfir/dfir_win_how_to/"
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% for post in site.dfir limit: 5 %}
  {% include archive-single.html %}
{% endfor %}


{% include feature_row id="feature_row" type="center" %}
